footer{
    @include head-foot;
    @include font-size-change("footer");

    background-color: $bk-secondary;
}

.logof {
    @include logo-size-change;

    max-height: 4rem;
}

.fab{
    color: $bk-aux1;;
}