* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-index {
  container-type: inline-size;
  container-name: componer;
  height: 100%;
}

main.container-i {
  @include font-size-change("home");
  @include body-container;

  height: 80svh;
}

.collage img {
  width: 100%;
  height: auto;
  max-height: 30svh;
  max-width: 100%;
  object-fit: contain;
  margin-bottom: 2rem;
}

.lateral{
  text-align: center;
  color: $bk-secondary;
  background-color: $bk-aux1;
}

@container componer (min-width: 38rem) {
  main.container-i{
    height: 75svh;  
  }
  
  .collage {
    display: grid;
    grid-template-columns: 2.5fr 3fr 0.5fr;
    grid-template-rows: auto auto 1fr;
    gap: 1rem;
  }

  .collage img {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    width: 100%;
    height: 100%;
    max-height: 100svh; 
    padding: 1rem;
  }

  .fecha {
    grid-column: 2 / 3;
    grid-row: 1;
  }

  .desarrollo {
    grid-column: 2 / 3;
    grid-row: 2;
  }

  .lateral {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-small;
    writing-mode: vertical-rl;
    color: $bk-secondary;
    background-color: $bk-aux1;
    padding: 1rem;
  }
}